body{
   font-family: var(--font-primary);
   
   &[class^="is-scroll-disabled"] { 
       overflow:hidden;
   }
}
h1,
h2,
h3,
h4 {
    font-size: 1.375em;
}
p{
    margin-top: 0;
}
a{
    color: var(--color-primary);
    transition: color 125ms  linear;
    
    &:hover{
        color: var(--color-secondary);
    }
}

#uses-svg{
    display: none;
}

.row {
    --row-max-width: 72.5em;
    --row-gap: var(--gap-normal);
    width: calc(100% - var(--row-gap) * 2 );
    max-width: var(--row-max-width);
    margin-left: auto;
    margin-right: auto;
}

%div-flex-between{
    display: flex;
	justify-content: space-between;
	align-items: center;

    @media screen and (max-width: $breakpoint-tablet-max) {
        flex-direction: column;
        justify-content: center;
    }
}