.row {
    --row-max-width: 72.5em;
    --row-gap: var(--gap-normal);
    width: calc(100% - var(--row-gap) * 2 );
    max-width: var(--row-max-width);
    margin-left: auto;
    margin-right: auto;
}
