:root {
    //colors
    --color-primary: #000000;
    --color-secondary: #F84444;

    --color-button-bg: #F0F0F0;
    --color-button-bg-danger:#F84444;

    //spacing
    --gap-xsmall: 1.375em;
    --gap-small: 1.75em;
    --gap-normal: 2.375em;
    --gap-big: 2.75em;
    --section-main-gap: 1.5em 0 ;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'PT Serif', serif;
}
