.entry {
	&-title {
        color: var(--color-primary);
		
        a {
			color: inherit;
		}
	}
    
    &-thumbnail{
        vertical-align: middle;
		
        a,
        img{
            display: block;
            max-width: 100%;
        }
    }
    
	&-content {		
	}
}

.entry-list{
	display: grid;
    grid-template-columns: 2.5em 1fr;
    align-items: center;
    gap: var(--gap-small);
}