.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-inline {
        display: inline-block;

        .navbar-list-item {
            display: inline-block;
        }
    }

    a{
        display: inline-block;
    }
}

.section-header-top {
    .navbar{

        line-height: 1.3;


        a{
            font-weight: 700;
        }
        
        @media screen and (max-width: $breakpoint-phones-max) {
            overflow: hidden;
        }
    }

    .navbar-list{
        --items-spacing: 1.825em;
        
        &-item{
            margin-left: var(--items-spacing);

            &:nth-last-child(1){
                margin-right: var(--items-spacing);
            }            
        }

        @media screen and (max-width: $breakpoint-phones-big-max) {
            --items-spacing: 1.25em;
        }

        @media screen and (max-width: $breakpoint-phones-max) {
            --items-spacing: 1.825em; 
            width: auto;
            white-space: nowrap;
            animation: backAndForth 10s infinite linear;
            
            &-item:nth-last-child(1){
                margin-right: 0
            }     
        }

    }
}

.section-header-main {
    a{
        font-weight: 700;
    }
    
    .navbar-list{
        &-item{
            margin-left: 2em;
        }

        @media screen and (max-width: $breakpoint-tablet-big-max) {
            padding-top: var(--gap-normal);
            padding-bottom: var(--gap-normal);
            
            &-item{
                display: block;
                margin-bottom: var(--gap-xsmall);
                margin-left: 0;
                font-size: 1.5em;
            }
        }
    }

   
}


@keyframes backAndForth {
    from {
        transform: translateX(calc(100%));
    }
    to{
        transform: translateX(calc(-100%));
    }
}