.layout-standard {
	--grid-columns-base: 3;
	display: grid;
	gap: var(--gap-normal);
	position: relative;
}

.layout-post{
	grid-template-columns: var(--site-sidebar-width) 1fr var(--site-sidebar-width);
}

.layout-recents{
	grid-template-columns: repeat(var(--grid-columns-base), 1fr); ;
}
