.layout-standard {
	--grid-columns-base: 3;
	display: grid;
	column-gap: var(--gap-normal);
	row-gap: var(--gap-normal);
	position: relative;
}

.layout-post{
	grid-template-columns: var(--site-sidebar-left-width) 1fr var(--site-sidebar-right-width);
}

.layout-recents{
	grid-template-columns: repeat(var(--grid-columns-base), 1fr);
	row-gap: 2.125em
}
