.section-fullwidth {
    padding: var(--section-gap);
}
.section-header-top{
    .row{
        display: flex;
        justify-content: center;

        svg{
            min-width: 1.25em;
            margin: 0 0.125em ;
        }
    }
}
.section-main{
    padding: var(--section-main-gap);
}